<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wageCalc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>wageTickerWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>watchWage (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>watchWage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FA0FFAE1E3381750019B5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA0FFC21E3381750019B5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA0FFCD1E3381750019B5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB938AC1E3466C9006E7B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB938D51E34718E006E7B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
